.navbar-nav a {
    text-decoration:none;
    color:#fff;
    font-size: 15px;
    padding:10px 15px;
}
.profilePicture {
    width: 40px;
    border-radius:50%;
}
.logout {
    margin-right:15px;
}
.active {
    color:#fb1b1b !important;
}