.sidebar {
    margin-top: 50px;
    text-align: center;
}
.sidebar p a {
    text-decoration: none;
    color:#fff;
    background-color: black;
    display: block;
    text-align: center;
    padding:5px;
}